body {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Slabo 27px', serif;
}

h2 {
  font-family: 'Slabo 27px', serif;
  text-align: center;
  padding: 15px 0 90px 0;
}

.background-image {
  background-image: url(img/dvlpr.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 750px;
  opacity: .80;
}

.textimg {
  padding-top: 345px;
  text-align: center;
  font-size: 4.9em;
  color: #AF7AC5;
}

/*end image background */
/* container */
.container {
  padding: 190px 0;
}

.thumbnail a img {
  display: block;
  margin: 0 auto;
}

.pagedescription {
  margin: 0 auto;
  padding: 0 320px 80px 320px;
  min-width: 500px;
}

.row p {
  margin: 0 auto;
  font-size: 1.2em;
}

img {
  padding-top: 20px;
  width: 50%;
  height: auto;
}

.portrait {
  text-align: center;
  background-image: url("img/me.jpg");
}

/* skills */
p {
  min-width: 200px;
}

.skills {
  margin: 0 auto;
}

.row {
  text-align:
}

.container-fluid {
  text-align: center;
  background-color: #FFF;
  padding-bottom: 290px;
  padding-top: 40px;
}

footer {
  padding: 0 0 25px 0;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

footer i {
  padding-left: 5px;
  font-size: 1.2em;
}

.color:hover {
  background: #53a7ea;
  padding: 10px;
  opacity: .9;
  color: #000;
}
.threed:hover {
  -webkit-box-shadow: 6px 10px 5px 2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 6px 10px 5px 2px rgba(0, 0, 0, 0.49);
  box-shadow: 6px 10px 5px 2px rgba(0, 0, 0, 0.49);
}

/* animation */
.logo {
  -webkit-animation: logo 1s;
  animation: logo 6s;
}

@-webkit-keyframes logo {
  from {
    -webkit-transform: rotate(0) scale(1.5);
    left: 120%
  }

  to {
    -webkit-transform: rotate(0) scale(4);
  }
}

@keyframes logo {
  from {
    transform: rotate(0) scale(.5);
    left: 120%
  }

  to {
    transform: rotate(0) scale(1);
  }
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.element-animation{
  animation: animationFrames ease-out 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease-out 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames ease-out 0.8s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease-out 0.8s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease-out 0.8s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    transform:  translate(-40px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    -moz-transform:  translate(-40px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    -webkit-transform:  translate(-40px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    -o-transform:  translate(-40px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    -o-transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    -ms-transform:  translate(-40px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

/* end animation */
/* ANIMATION FOR SLIDE LEFT */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

/* media queries */
@media screen and (max-width: 320.98px) {
  .container {
    margin: 1200px;
  }
}

@media screen and (max-width: 575.98px) {
  p {
    color: #E47A2E;
  }

  .container {
    padding: 190px 0;
    margin-left: 400px;
  }

  .pagedescription {
    min-width: 1000px;
    /* margin: 0 auto; */
    position: relative;
    right: 200px;
  }

  .col-sm {
    text-align: center;
    margin-top: 60px;
  }
}

@media screen and (max-width: 767.98px) {
  p {
    color: #E47A2E;
  }

  .pagedescription {
    min-width: 1000px;
    /* margin: 0 auto; */
    position: relative;
    right: 200px;
  }
}

@media screen and (max-width: 991.98px) {}

@media screen (max-width: 1199.98px) {}
