body {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Slabo 27px', serif;
}

h2 {
  font-family: 'Slabo 27px', serif;
  text-align: center;
  padding: 15px 0 90px 0;
}

.background-image {
  background-image: url(img/dvlpr.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 750px;
  opacity: .80;
}

.textimg {
  padding-top: 345px;
  text-align: center;
  font-size: 4.9em;
  color: #AF7AC5;
}

/*end image background */
/* container */
.container {
  padding: 190px 0;
}

.thumbnail a img {
  display: block;
  margin: 0 auto;
}

.pagedescription {
  margin: 0 auto;
  padding: 0 320px 80px 320px;
  min-width: 500px;
}

.row p {
  margin: 0 auto;
  font-size: 1.2em;
}

img {
  padding-top: 20px;
  width: 50%;
  height: auto;
}

.portrait {
  text-align: center;
  background-image: url("img/me.jpg");
}

/* skills */
p {
  min-width: 200px;
}

.skills {
  margin: 0 auto;
}

.row {
  text-align:
}

.container-fluid {
  text-align: center;
  background-color: #FFF;
  padding-bottom: 290px;
  padding-top: 40px;
}

footer {
  padding: 0 0 25px 0;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

footer i {
  padding-left: 5px;
  font-size: 1.2em;
}

.color:hover {
  background: #53a7ea;
  padding: 10px;
  opacity: .9;
  color: #000;
}

.threed:hover {
  box-shadow:
    1px 1px grey,
    2px 2px grey,
    3px 3px grey;
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
}

/* animation */
.logo {
  -webkit-animation: logo 1s;
  animation: logo 6s;
}

@-webkit-keyframes logo {
  from {
    -webkit-transform: rotate(0) scale(1.5);
    left: 120%
  }

  to {
    -webkit-transform: rotate(0) scale(4);
  }
}

@keyframes logo {
  from {
    transform: rotate(0) scale(.5);
    left: 120%
  }

  to {
    transform: rotate(0) scale(1);
  }
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* end animation */
/* ANIMATION FOR SLIDE LEFT */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

/* media queries */
@media screen and (max-width: 320.98px) {
  .container {
    margin: 1200px;
  }
}

@media screen and (max-width: 575.98px) {
  p {
    color: #E47A2E;
  }

  .container {
    padding: 190px 0;
    margin-left: 400px;
  }

  .pagedescription {
    min-width: 1000px;
    /* margin: 0 auto; */
    position: relative;
    right: 200px;
  }

  .col-sm {
    text-align: center;
    margin-top: 60px;
  }
}

@media screen and (max-width: 767.98px) {
  p {
    color: #E47A2E;
  }

  .pagedescription {
    min-width: 1000px;
    /* margin: 0 auto; */
    position: relative;
    right: 200px;
  }
}

@media screen and (max-width: 991.98px) {}

@media screen (max-width: 1199.98px) {}
